body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.icon-container {
    margin: 2em;
    width: 3em;
    position: relative;
    top: -.5em;
}
.icon-circle-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 3px solid gray;
    background: white;
    z-index: 1;
}
.icon-leg {
    width: 1em;
    height: 2.5em;
    background-color: gray;
    z-index: 0;
    position: relative;
}
.icon-leg .triangle {
    position: absolute;
    bottom: -1px;
    border-top-width: 0;
    border-color: transparent transparent white transparent !important;
    border: .5em solid;
}
.icon-top {
    display: flex;
    justify-content: center;
}
.icon-bottom {
    position: relative;
    top: -1em;
}

.icon-left-leg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(18deg);
}
.icon-right-leg {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-18deg);
}


.section {
    width: 100%;
    height: 100vh;
    background-color: red;
}


.slide-page-rankboard .list {
    
    margin: 0 auto;
    width: 80%
}

.slide-page-rankboard .list-item {
    display: flex;
    border: 1px solid gray;
}

.rank-left {
}

.rank-right {
    padding-right: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}