
<script>
export default {
    data() {
        return {
            state: 'title',
            serie: 2,
            teams: []
        }
    },
    methods: {
        async fetchData() {
            const res = await fetch(`http://localhost:8000/ajax.php?page=classement&serie=${this.serie}`)
            
            this.teams = (await res.json()).teams
        }
    },
    mounted() {
        this.fetchData()
        setTimeout(() => {
            this.state = 'ranking'
        }, 2000);
    }
}
</script>

<style src="../assets/style.css"></style>

<template>
    <div class="loop">
        <div>
        </div>

        <div class="slide-page-title" v-show="state == 'title'">
            <div>
                Résultats à la fin de la 1ère série
            </div>
        </div>

        <div class="section slide-page-rankboard" v-show="state == 'ranking'">
            <div class="list">
                <div
                    v-for="(team, index) in teams"
                    :class="`list-item list-item-${index}`"
                >
                    <div class="rank-left">
                        <div class="rank-text" v-if="index > 2">
                            {{team.rank}}
                        </div>
                        <div class="rank-icon" v-if="index <= 2">
                            <div class="icon-top">
                                <div class="icon-circle-top">
                                    {{ team.rank }}
                                </div>
                            </div>
                            <div class="icon-bottom">
                                <div class="icon-leg icon-left-leg"><div class="triangle"></div></div>
                                <div class="icon-leg icon-right-leg"><div class="triangle"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="rank-right">
                        <div class="team-name">
                            {{ team.name }}
                        </div>
                        <div class="team-points">
                            {{ team.score }} pts
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
