body {
    background-color: black;
}
iframe {
    width: 100%;
    height: 100vh;
}
.full-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.debug {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
}

.debug-content {
    border-radius: 5px;
    background-color: rgba(200, 2, 2, 0.5);
    color: white;
    font-size: 2em;
    padding: 1em;
}

.identify-container {
    background-color: red;
}

.whole-screen-rotated-right {
    transform: rotate(90deg);
    transform-origin: bottom left;
    
    position:absolute;
    top:-100vw;
    
    height:100vw;
    width:100vh;
}

.whole-screen-rotated-left {
    transform: rotate(270deg);
    right: 0;
    transform-origin: bottom right;
    
    position:absolute;
    top:-100vw;
    
    height:100vw;
    width:100vh;
}

