body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

.rank-left {
    width: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rank-icon {
    margin: 0;
    width: 3em;
    position: relative;
    top: -.5em;
}
.rank-text {
    margin: 0;
    width: 3em;
}
.rank-icon .icon-circle-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 3px solid gray;
    background: white;
    z-index: 1;
}
.rank-icon .icon-leg {
    width: 1em;
    height: 2.5em;
    background-color: gray;
    z-index: 0;
    position: relative;
}
.rank-icon .icon-leg .triangle {
    position: absolute;
    bottom: -1px;
    border-top-width: 0;
    border-color: transparent transparent white transparent !important;
    border: .5em solid;
}
.rank-icon .icon-top {
    display: flex;
    justify-content: center;
}
.rank-icon .icon-bottom {
    position: relative;
    top: -1em;
}

.rank-icon .icon-left-leg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(18deg);
}
.rank-icon .icon-right-leg {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-18deg);
}


.section {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}

.slide-page-rankboard .list {
    margin: 0 auto;
    width: 80%
}

.slide-page-rankboard .list-item {
    font-size: .6em;
    display: flex;
    border: 1px solid gray;
}

.rank-right {
    padding-right: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-page-rankboard .list-item-0 {
    font-size: 1em;
}

.slide-page-rankboard .list-item-0 .rank-icon {
    transform: scale(0.65);
}

.slide-page-rankboard .list-item-0 .icon-circle-top {
    border-color: orange;
}

.slide-page-rankboard .list-item-0 .icon-leg {
    background-color: orange;
}

.slide-page-rankboard .list-item-1 {
    font-size: 0.7em;
}

.slide-page-rankboard .list-item-1 .rank-icon {
    transform: scale(0.5);
}


.slide-page-rankboard .list-item-1 .icon-circle-top {
    border-color: blue;
}

.slide-page-rankboard .list-item-1 .icon-leg {
    background-color: blue;
}


.slide-page-rankboard .list-item-2 {
    font-size: 0.5em;
}

.slide-page-rankboard .list-item-2 .rank-icon {
    transform: scale(0.4);
}
