<script setup>
import Some from "./Some.jsx"
import Ranking from "./components/Ranking.vue"
import { ref, onMounted } from 'vue'

// reactive state
const count = ref(0)

// functions that mutate state and trigger updates
function increment() {
  count.value++
}

// lifecycle hooks
onMounted(() => {
  console.log(`The initial count is ${count.value}.`)
})
</script>

<template>
  <div>
    <Ranking />
  </div>
</template>